In [3]:
import pandas as pd
import requests
import io

In [6]:
url = 'https://raw.githubusercontent.com/Lwhieldon/IntroToDataAnalysis/master/Assignments/Assignment%201/Sample%20-%20Superstore%20Data.csv'

download = requests.get(url).content

df = pd.read_csv(io.StringIO(download.decode('utf-8')))


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Row ID        9994 non-null   int64
 1   Order ID      9994 non-null   object
 2   Order Date    9994 non-null   object
 3   Customer ID   9994 non-null   object
 4   Segment       9994 non-null   object
 5   City          9994 non-null   object
 6   State         9994 non-null   object
 7   Postal Code   9983 non-null   float64
 8   Region        9994 non-null   object
 9   Product ID    9994 non-null   object
 10  Category      9994 non-null   object
 11  Sub-Category  9994 non-null   object
 12  Sales         9994 non-null   float64
 13  Quantity      9994 non-null   int64
 14  Discount      9994 non-null   float64
 15  Profit        9994 non-null   float64
dtypes: float64(4), int64(2), object(10)
memory usage: 1.2+ MB

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df["Category"].drop_duplicates())
df["Category"]=le.transform(df["Category"])
df

,Row ID,Order ID,Order Date,Customer ID,Segment,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,11/8/2018,CG-12520,Consumer,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,0,Bookcases,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,11/8/2018,CG-12520,Consumer,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,0,Chairs,731.9400,3,0.00,219.5820
2,3,CA-2018-138688,6/12/2018,DV-13045,Corporate,Los Angeles,California,90036.0,West,OFF-LA-10000240,1,Labels,14.6200,2,0.00,6.8714
3,4,US-2017-108966,10/11/2017,SO-20335,Consumer,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,0,Tables,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,10/11/2017,SO-20335,Consumer,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,1,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2016-110422,1/21/2016,TB-21400,Consumer,Miami,Florida,33180.0,South,FUR-FU-10001889,0,Furnishings,25.2480,3,0.20,4.1028
9990,9991,CA-2019-121258,2/26/2019,DB-13060,Consumer,Costa Mesa,California,92627.0,West,FUR-FU-10000747,0,Furnishings,91.9600,2,0.00,15.6332
9991,9992,CA-2019-121258,2/26/2019,DB-13060,Consumer,Costa Mesa,California,92627.0,West,TEC-PH-10003645,2,Phones,258.5760,2,0.20,19.3932
9992,9993,CA-2019-121258,2/26/2019,DB-13060,Consumer,Costa Mesa,California,92627.0,West,OFF-PA-10004041,1,Paper,29.6000,4,0.00,13.3200
9993,9994,CA-2019-119914,5/4/2019,CC-12220,Consumer,Westminster,California,92683.0,West,OFF-AP-10002684,1,Appliances,243.1600,2,0.00,72.9480